.headerContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.navContainer{
    display: inline-flex;
    background-color: var(--contrast);
    padding: 10px;
    border-radius: 10px;
}
.navContainer a{
    padding-left: 10px;
    padding-right: 10px;
}
.navLink{
    color: var(--background);
}
.navLink:hover{
    color: var(--textColor);
}
.active{
    text-decoration: underline;
    color: var(--textColor);
}

@media (max-width: 768px) {
 .headerContainer{
justify-content: center;
 }
}